.App {
  text-align: center;
}


.App-header-Sobre {
  background-color:rgb(47, 85, 141);
  min-height: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-header-Blog {
  background-color:rgb(47, 85, 141);
  
  margin-top: 30px;
  margin-left: 1200px;
  position:absolute;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-header-Descrição {
  background-color:rgb(47, 85, 141);
  
  margin-top: -65px;
  margin-left: 600px;
  position:absolute;
  font-size: calc(10px + 2vmin);
  color: white;
}


.App-link {
  color: #61dafb;
}

