.Superior{
    background-color:rgb(47, 85, 141);
    width: auto;
    height: 300px;
}

.App-logo {
    margin-left: 200px;
    margin-top: 20px;
    border-radius: 50%;
    height: 40vmin;
    pointer-events: none;
    overflow: hidden;
    position: absolute;
    width: 250px;
    height: 250px;
    align-items: flex-end;
    
  }

  .titulo{
    text-align: center;
  }

.Introdução{
    margin-top: -20px;
    margin-left: 500px;
    position:absolute;
    text-align: justify;
    font-family: 'Courier New', Courier, monospace;
    font-size: x-large;
    color: white;
    width: 950px ;
}